<!-- TODO: voeg een ng-class directive toe-->
<div ng-controller="wizardController" >
    <h1>Wijzig jouw saldo</h1>
    <ui-wizard>
        <ui-wizard-step id="one">
            <form name="formulier" ng-controller="formController">
                Vul hieronder je naam in:<br />
                <ui-textinput ng-model="data.personName" name="personName" placeholder="Jouw naam..." required></ui-textinput>
                Wat is jouw saldo?
                <ui-money ng-model="data.balance"></ui-money>
            </form>
        </ui-wizard-step>
        <ui-wizard-step id="two">
            Hi {{output.personName}}, jouw saldo is nu : {{output.balance}}
        </ui-wizard-step>
    </ui-wizard>
</div>