<div ng-controller="wizardController" ng-class="showValidation()">
    <ui-wizard>
        <ui-wizard-step id="one">
            <form name="formulier" ng-controller="formController">
                Vul hieronder je naam in:<br />
                <ui-textinput ng-model="data.personName" name="personName" placeholder="Jouw naam..." required></ui-textinput>
            </form>
        </ui-wizard-step>
        <ui-wizard-step id="two">
            {{output.personName}}
        </ui-wizard-step>
    </ui-wizard>
</div>